<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="./CSS/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

</head> 
<body>
    <%- include('navbar') %>
    <div class="topbg"> 
        <img src="https://ajay-dhangar.github.io/gym.com/img/breadcrumb-bg.jpg" alt="" srcset="">
        <div class="toptitle">
            ABOUT US
        </div>
    </div>

    <div class="reasonToChoose">
        <div class=" reasonToChoose-firstLine">
            <h3>WHY TO CHOOSE</h3>
        </div>
        <div class=" reasonToChoose-secondLine">
            <h2>PUSH YOUR LIMITS FORWARD</h2>
        </div>
    <div class="resonToChoose-reasonItems">
        <div class="resonToChoose-Item">
          <i class="fa-solid fa-dumbbell fa-2xl my-5"></i>
          <h5>MODERN EQUIPMENTS</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis odit fugiat error rem blanditiis maiores impedit culpa beatae.</p>
        </div>
        <div class="resonToChoose-Item">
        <i class="fa-brands fa-nutritionix fa-2xl my-5"></i> 
          <h5>HEALTHY NUTRITION PLAN</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis odit fugiat error rem blanditiis maiores impedit culpa beatae.</p>
        </div>
        <div class="resonToChoose-Item">
          <i class="fa-solid fa-table  fa-2xl my-5"></i>
          <h5>TRAINING PLAN</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis odit fugiat error rem blanditiis maiores impedit culpa beatae.</p>
        </div>
        <div class="resonToChoose-Item">
          <i class="fa-solid fa-handshake-angle  fa-2xl my-5"></i>
          <h5>UNIQUE TO YOUR NEEDS</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis odit fugiat error rem blanditiis maiores impedit culpa beatae.</p>
        </div>
      </div>
    </div>

    <%- include('ourTeam'); %>
    
    <%- include('footer') %>
</body>
</html>