<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="./CSS/admin_dashboard.css" />
  <link rel="stylesheet" href="./CSS/admin_dashboard_home.css" />
  <title>Admin Dashboard - New Product</title>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar --><!-- /#sidebar-wrapper -->
    <%- include('admin_dashboard_side_wrapper.ejs'); %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <!-- /#top-wrapper -->
        <%- include('admin_dashboard_top_wrapper.ejs'); %>

          <div class="container-fluid">
            <div class="row g-3 my-2">
              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2">72</h3>
                    <p class="fs-5">Trainers</p>
                  </div>
                  <i class="fas fa-user-friends fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2">1542</h3>
                    <p class="fs-5">Clients</p>
                  </div>
                  <i class="fas fa-user-friends fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2">3899</h3>
                    <p class="fs-5">Orders</p>
                  </div>
                  <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

              <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                    <h3 class="fs-2">$ 14920</h3>
                    <p class="fs-5">Total Revenu</p>
                  </div>
                  <i class="fas fa-money-bill-wave fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
              </div>

            </div>

            <div class="challenge-workout my-4 d-flex justify-content-evenly">
              <button type="button" class="button my-2" data-bs-toggle="modal" data-bs-target="#addChallenge">
                Add New Challenge
              </button>
              <button type="button" class="button my-2" data-bs-toggle="modal" data-bs-target="#addWorkout">
                Add New HomeWorkout
              </button>
            </div>

            <div class="modal" id="addChallenge">
              <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                  <div class="modal-header align-self-center">
                    <h3>Enter New Challenge</h3>
                  </div>
                  <div class="modal-body">
                    <div class="form-container add-challenge-container">
                      <form name="addNewChallenge" action="/newChallenge" method="POST" enctype="multipart/form-data">
                        <label for="description">Description of Challenge
                          <textarea type="text" id="description" placeholder="Enter Description of Challenge"
                            name="ChallengeDescription" required></textarea>
                        </label>
                        <label for="challengeImg">Upload Image of Challenge
                          <input class="product-img" type="file" id="challengeImg" name="challengeImg"
                            placeholder="Upload Image">
                        </label>
                        <button id="add-challenge-btn" type="submit">Add Challenge</button>

                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal" id="addWorkout">
              <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                  <div class="modal-header align-self-center">
                    <h3>Enter New Workout</h3>
                  </div>
                  <div class="modal-body">
                    <div class="form-container add-workout-container">
                      <form name="addNewWorkout" action="/newWorkout" method="POST" enctype="multipart/form-data">
                        <label for="description">Description of Workout
                          <textarea type="text" id="description" placeholder="Enter Description of new Workout"
                            name="WorkoutDescription" required></textarea>
                        </label>
                        <label for="workoutImg0">Upload Primary(main) Image of Workout
                          <input class="product-img" type="file" id="workoutImg0" name="workoutImg0"
                            placeholder="Upload Image">
                        </label>
                        <label for="workoutImg1">Upload Sub-Image 1
                          <input class="product-img" type="file" id="workoutImg1" name="workoutImg1"
                            placeholder="Upload Image">
                        </label>
                        <label for="workoutImg2">Upload Sub-Image 2
                          <input class="product-img" type="file" id="workoutImg2" name="workoutImg2"
                            placeholder="Upload Image">
                        </label>
                        <label for="workoutImg3">Upload Sub-Image 3
                          <input class="product-img" type="file" id="workoutImg3" name="workoutImg3"
                            placeholder="Upload Image">
                        </label>
                        <label for="workoutImg4">Upload Sub-Image 4
                          <input class="product-img" type="file" id="workoutImg4" name="workoutImg4"
                            placeholder="Upload Image">
                        </label>

                        <button id="add-workout-btn" type="submit">Add Workout</button>

                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="recent-payment-conrainer">
              <div class="recent-5-Payments my-5">
                <h3>Recent Payment</h3>
                <div class="col">
                  <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="row1">
                        <td scope="row" id="payment-date1">13-03-2003</th>
                        <td id="payment-transactionID1">1234567890</td>
                        <td id="payment-Method1">Card</td>
                        <td id="payment-desc1">Credit</td>
                        <td id="payment-amount1">$ 1234</td>
                        <td id="payment-status1">Complete</td>
                      </tr>
                      <tr id="row2">
                        <td scope="row" id="payment-date2">13-03-2003</th>
                        <td id="payment-transactionID2">5656565656</td>
                        <td id="payment-Method2">NFTI</td>
                        <td id="payment-desc2">Credit</td>
                        <td id="payment-amount2">$ 99994</td>
                        <td id="payment-status2">Complete</td>
                      </tr>
                      <tr id="row3">
                        <td scope="row" id="payment-date3">13-03-2003</th>
                        <td id="payment-transactionID3">1234567890</td>
                        <td id="payment-Method3">Card</td>
                        <td id="payment-desc3">Debit</td>
                        <td id="payment-amount3">$ 5234</td>
                        <td id="payment-status3">Processing</td>
                      </tr>
                      <tr id="row4">
                        <td scope="row" id="payment-date4">13-03-2003</th>
                        <td id="payment-transactionID4">1231111190</td>
                        <td id="payment-Method4">UPI</td>
                        <td id="payment-desc4">Credit</td>
                        <td id="payment-amount4">$ 124</td>
                        <td id="payment-status4">Complete</td>
                      </tr>
                      <tr id="row5">
                        <td scope="row" id="payment-date5">13-03-2003</th>
                        <td id="payment-transactionID5">1234567890</td>
                        <td id="payment-Method5">Card</td>
                        <td id="payment-desc5">Debit</td>
                        <td id="payment-amount5">$ 14</td>
                        <td id="payment-status5">Failed</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="recent-order-conrainer">
              <div class="recent-5-orders my-5">
                <h3>Recent order</h3>
                <div class="col">
                  <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Delivery Status</th>
                      </tr>
                      </td>
                    <tbody>
                      <tr id="row1">
                        <td scope="row" id="order-date1">13-03-2003</th>
                        <td id="order-transactionID1">1234567890</td>
                        <td id="order-Method1">Protein Powder</td>
                        <td id="order-amount1">$ 1234</td>
                        <td id="order-status1">Delivered</td>
                      </tr>
                      <tr id="row2">
                        <td scope="row" id="order-date2">13-03-2003</th>
                        <td id="order-transactionID2">5656565656</td>
                        <td id="order-Method2">Whey Protein</td>
                        <td id="order-amount2">$ 99994</td>
                        <td id="order-status2">Despatched</td>
                      </tr>
                      <tr id="row3">
                        <td scope="row" id="order-date3">13-03-2003</th>
                        <td id="order-transactionID3">1234567890</td>
                        <td id="order-Method3">Weight Gainer</td>
                        <td id="order-amount3">$ 5234</td>
                        <td id="order-status3">Shipping</td>
                      </tr>
                      <tr id="row4">
                        <td scope="row" id="order-date4">13-03-2003</th>
                        <td id="order-transactionID4">1231111190</td>
                        <td id="order-Method4">FitWell Suppliments Pack</td>
                        <td id="order-amount4">$ 124</td>
                        <td id="order-status4">Cancelled</td>
                      </tr>
                      <tr id="row5">
                        <td scope="row" id="order-date5">13-03-2003</th>
                        <td id="order-transactionID5">1234567890</td>
                        <td id="order-Method5">Nitro Mass Gainer</td>
                        <td id="order-amount5">$ 14</td>
                        <td id="order-status5">Delivered</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>


      </div>

  </div>
  <!-- /#page-content-wrapper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
      el.classList.toggle("toggled");
    };
  </script>
</body>

</html>