<div class="white" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="./img/logo/logo1.png" alt="" class="logo-img">
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="./admin_dashboard_home" class="list-group-item list-group-item-action bg-transparent text-light  active"><i
                class="fas fa-tachometer-alt me-2"></i>Home</a>

        <a href="./admin_dashboard_trainers" class="list-group-item list-group-item-action bg-transparent text-light  active"><i
                class="fas fa-tachometer-alt me-2"></i>Trainers</a>

        <a href="./admin_dashboard_customers" class="list-group-item list-group-item-action bg-transparent text-light  active"><i
                class="fas fa-tachometer-alt me-2"></i>Customers</a>

        <a href="./admin_dashboard_payment" class="list-group-item list-group-item-action bg-transparent text-light fw-bold"><i
                class="fas fa-chart-line me-2"></i>Payments</a>

        <a href="./admin_Dashboard_order" class="list-group-item list-group-item-action bg-transparent text-light fw-bold"><i
                class="fas fa-shopping-cart me-2"></i>Orders</a>

        <a href="#" class="list-group-item list-group-item-action bg-transparent text-light fw-bold"><i
                class="fas fa-gift me-2"></i>Products</a>

        <a href="#" class="list-group-item list-group-item-action bg-transparent  text-light fw-bold"><i
                class="fas fa-comment-dots me-2"></i>Feedbacks</a>

        <a href="#" class="list-group-item list-group-item-action bg-transparent text-light fw-bold"><i
                class="fas fa-map-marker-alt me-2"></i>Reviews</a>

        <a href="/" class="list-group-item list-group-item-action bg-transparent text-light  fw-bold"><i
                class="fas fa-power-off me-2"></i>Logout</a>
    </div>
</div>