<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Edu+NSW+ACT+Foundation&family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./CSS/cart.css" />
    <title>Checkout</title>
  </head>

  <body>
    <!-- <h2>FitWell cart</h2> -->
    <h2 class="logo">FIT<span>Well</span></h2>
    <h2>Gym Cart</h2>
    <div class="parent-container">
      <div class="cart-container">
        <table>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <hr/>
          <tr>
            <td>
              <div class="cart-info">
                <img src="/public/img/prod.png" />
                <div>
                  <p>Nitro Tech + ISO PRO <span>(combo offer)</span></p>
                  <small>price :$35</small><br />
                  <a href="#">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$35</td>
          </tr>

          <tr>
            <td>
              <div class="cart-info">
                <img src="/public/img/prod-1.jpg" />
                <div>
                  <p>SYNTHA-6</p>
                  <small>price :$40</small><br />
                  <a href="#">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$40</td>
          </tr>
        </table>
      </div>

      <div class="total-price">
        <h3>Price Details</h3>
        <table>
          <tr>
            <td>Sub total</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Discount 5%</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>Delivery charges</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>Total Amount</td>
            <td>$70.00</td>
            <br /><br />
          </tr>
          <td>
            <input
              id="checkbut"
              type="button"
              class="w3-button w3-black"
              value="Check Out"
            />
          </td>
        </table>
      </div>
    </div>
    <a id="back" href="#">
      <h4>⬅ Go back to Continue Shopping</h4>
    </a>
  </body>
</html>
