<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FIT-WELL | CENTRES</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap"
      rel="stylesheet"
    /> 
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./CSS/centres.css">


  </head>

  <body>

    <%- include('navbar') %>
    <div class="topbg"> 
      <img src="https://ajay-dhangar.github.io/gym.com/img/breadcrumb-bg.jpg" alt="" srcset="">
      <div class="toptitle">
          Nearby Centers
      </div>
  </div>
   
    <h2 id="se1">LET'S STAY FIT</h2>
    <h2 id="title">Fitness and activity centres near you!!</h2>

    <section class="services">

      <div class="service">
        <img src="/img/services/service-11.jpg" />
        <h4 id="se2">RHEA'S ZUMBA</h4>
        <br />
        <br /><br />
        <p>
          We offer zumba classes for ladies. Please contact us on the below
          mentioned number for more details and enquiry.
        </p>
        <p>Contact Number: +91-1283937283</p>
        <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
      </div>
      <div class="service">
        <img src="/img/services/service-12.jpg" />
        <h4 id="se2">SAM'S ZUMBA CENTRE</h4>
        <br /><br /><br />
        <p>
            We offer zumba classes and other services for ladies. Please 
            contact us on the mentioned number for more details and enquiry.
          </p>
    </p>
    <p>Contact Number: +91-1283937983</p>
    <div class="ratings">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      </div>
      <div class="service">
        <img src="/img/services/service-13.jpg" />
        <h4 id="se2">VANI'S VIPASSANA</h4>
        <br /><br /><br />
        <p>
          We believe that fitness isn't just about physical exercise - but also 
        about mental wellbeing. We offer wide variety of programs. Contact us 
        for more info about the same.
        </p>
    <p>Contact Number: +91-1283932283</p>
    <div class="ratings">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      </div>
      <div class="service">
        <img src="/img/services/service-14.jpg" />
        <h4 id="se2">RISHI YOGA</h4>
        <br /><br /><br />
        <p>
            We are proud to offer yoga classes for all levels, led by certified
            instructors who will guide you through each pose and help you improve
            your flexibility, strength, and mindfulness. Join us today.
          </p>
          <p>Contact Number: +91-1283932283</p> 
          <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div> 
      </div>
      <div class="service">
        <img src="/img/services/service-15.jpg" />
        <h4 id="se2">GYMKHANA</h4>
        <br />
        <br /><br />
        <p>
            We offer zumba classes and other services for ladies. Please 
            contact us on the mentioned number for more details and enquiry.
          </p>
    </p>
    <p>Contact Number: +91-1283987983</p>
    <div class="ratings">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>

      </div>
      <div class="service">
        <img src="/img/services/service-16.jpg" />
        <h4 id="se2">RANBHOOMI</h4>
        <br />
        <br /><br />
        <p>
          We offer personalized training programs for both indoor and outdoor 
          sports. We have trained experts for conducting coaching sessions 
          both in the morning and evening. Contact for more info.
        </p>
        <p>Contact Number: +91-1283987983</p>
        <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
      </div>
      <div class="service">
        <img src="/img/services/service-17.jpg" />
        <h4 id="se2">NIVEK-POOL</h4>
        <br />
        <br /><br />
        <p>
            Our swimming facilities offer a refreshing way to stay in shape and
            improve your overall health. Come take a dip in our pool and
            experience the benefits of swimming for yourself!
          </p>
          <p>Contact Number: +91-1283987983</p>
          <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
      </div>
      <div class="service">
        <img src="/img/services/service-18.jpg" />
        <h4 id="se2">GOLD'S GYM</h4>
        <br />
        <br /><br />
        <p>
         We are the best gym facility in town. With modern-equipments, and 
         trainers available to guide you through your journey. OPEN 24*7.
         
        </p>
        <p>Contact Number: +91-1283987983</p>
        <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
      </div>
      <div class="service">
        <img src="/img/services/service-19.jpg" />
        <h4 id="se2">MARTIAL ARTS</h4>
        <br />
        <br /><br />
        <p>
          We're dedicated to helping you build strength and courage. Join our academy 
          choose to learn from different range of martial arts. Karate, kungfu, boxing,
          mma, etc.
        </p>
        <p>Contact Number: +91-1283987983</p> 
        <div class="ratings">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
    </section>


<%- include('footer') %>

  
    <script
      src="https://kit.fontawesome.com/8f8e3c7113.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
