<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT US</title>
   
    <link rel="stylesheet" href="./CSS/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>

    <%- include('navbar') %>

<div class="container"> 
    <h1>CONNECT WITH US</h1>
    <br>
    <p style="color: white;">We would love to respond to your queries and help you succeed<br>Feel free to get in touch with us</p>
<div class="contact-box">
    <div class="contact-left">
        <h3>Tell us about you</h3>
 
        <form method="post" action="/useractions/contactus">
            <div class="input-row">
                <div class="input-group">
                    <label>Name</label>
                    <input type="text" placeholder="Enter Your Name" name="name">
                </div>
                    <div class="input-group">
                    <label>Phone</label>
                    <input type="text" placeholder="Enter Contact No." name="phone">
                    </div>
                </div>
                    <div class="input-row">
                        <div class="input-group">
                        <label>Email</label>
                        <input type="text" placeholder="Enter email address" name="email">
                            </div>
                        <div class="input-group">
                            <label>Subject</label>
                            <input type="text" placeholder="Enter Subject" name="subject">
                        </div>
                    </div>
                <label>Message</label>
                <textarea rows="5" placeholder="What's on your mind" name="message"></textarea>

            <button type="submit">Send</button>

        </form>
    </div>

    <div class="contact-right">
        <h3>Reach Us</h3>
        <table>
            <tr>
                <td>Email</td>
                <td>fitwell@gmail.com</td>
            </tr>

            <tr>
                <td>Phone</td>
                <td>+91 7865******</td>
            </tr>

            <tr>
                <td>Address</td>
                <td>603 , Gnan Marg , SriCity<br>
                Some layout , Some Road , Sricity<br>
                Andhra Pradesh 517645</td>
            </tr>

        </table>
    </div>
</div>
</div>

    <div class="map-container">
        <div class="map">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12087.069761554938!2d-74.2175599360452!3d40.767139456514954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c254b5958982c3%3A0xb6ab3931055a2612!2sEast%20Orange%2C%20NJ%2C%20USA!5e0!3m2!1sen!2sbd!4v1581710470843!5m2!1sen!2sbd" height="550" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>

<%- include('footer') %>

</body>
</html>