<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/footer.css">   
   
</head> 

<body>
    <div class="footercontainer">
        <div class="info">
            <div class="infoBox">
                <div class="icon">
                    <i class="fa-sharp fa-solid fa-location-dot fa-2xl"></i>
                </div>
                <div class="iconinfo">
                    <p>322, Opposite Taj Hotel, Navi Mumbai-220022</p>
                </div>
            </div>

            <div class="infoBox">
                <div class="icon">
                    <i class="fa-solid fa-phone fa-2xl"></i>
                </div>
                <div class="iconinfo">
                    <p>+0121 225413</p>
                </div>
            </div>
            <div class="infoBox">
                <div class="icon">
                    <i class="fa-solid fa-envelope fa-2xl"></i>
                </div>
                <div class="iconinfo">
                   <p>exclusive@fitwell.in</p>
                </div>
            </div>

          </div>
         

          <div class="footInfo">
            <div class="block block1">
                <div class="head">
                    <img src="https://ajay-dhangar.github.io/gym.com/img/logo.png" alt="" srcset="">
                </div>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur </li>
                </ul>    
                        <div class="icons">
                            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                            <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                            <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
                        </div>
              
                
            </div>
            <div class="block">
                <div class="head">
                    <h2>UseFul Links</h2>
                </div>
                <ul>
                    <li><a href="./about">About Us</a></li>
                    <li><a href="./contact">Contact Us</a></li>
                    <li><a href="./blogs">Blogs</a></li>
                  
                </ul>
            </div>
            <div class="block">
                <div class="head">
                    <h2>Support</h2> 
                </div>
                <ul>
                    <li><a href="./signin">Login/Sign Up</a></li>
                    <li><a href="./myaccount">My Account</a></li>
                    <li><a href="./myblogs">My Blogs</a></li>
                  
                </ul>

            </div>
          </div>

          <div class="footer">
            <footer>&copy; Copyrights @ <span id="date"></span> All rights reserved.</footer>
          </div>

          
   
    </div>
    
    <script src="./JS/footer.js"></script>
    <script src="https://kit.fontawesome.com/8f8e3c7113.js" crossorigin="anonymous"></script>
</body>
</html>