<!doctype html>
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitWell - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/home.css">
  </head> 
  <body onload="load()">
    <%- include('navbar',{loginStatus}); %>
    <div class="sliderContainer" id="carousel">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner"> 
              <div class="carousel-item active">
                  <img src="./img/corousel_itme1.png" class="s1" alt="slide 1">
              </div>
              <div class="carousel-item">
                  <img src="./img/corousel_item2.png" class="s2" alt="slide 2">
              </div>
              <div class="carousel-item">
                  <img src="./img/corousel_item3.png" class="s3" alt="slide 3">
              </div>
          </div>
          <button class="carousel-control-prev w-10 h-auto " type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
          </button>
          <button class="carousel-control-next w-2 " type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
          </button>
      </div>
  </div>

  <div  id="infobutton">
      <button class="infohome"><a href="./about">Want More Info?</a></button>
  </div>
  <div class="sliderContainer" id="frontinfo">
      <div class="firstline">SHAPE YOUR BODY</div>
      <div class="secondline">BE <span id="colorToOrange">STRONG</span> TRAINING <span id="colorToOrange">HARD</span > </div>
  </div>

  <div class="reasonToChoose ">
    <div class=" reasonToChoose-firstLine">
        <h3>WHY TO CHOOSE</h3>
    </div>
    <div class=" reasonToChoose-secondLine">
        <h2>PUSH YOUR LIMITS FORWARD</h2>
    </div>

    <div class="resonToChoose-reasonItems">
      <div class="resonToChoose-Item">
        <i class="fa-solid fa-dumbbell fa-2xl my-5"></i>
        <h5>MODERN EQUIPMENTS</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis.</p>
      </div>
      <div class="resonToChoose-Item">
      <i class="fa-brands fa-nutritionix fa-2xl my-5"></i> 
        <h5>HEALTHY NUTRITION PLAN</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciati.</p>
      </div>
      <div class="resonToChoose-Item">
        <i class="fa-solid fa-table  fa-2xl my-5"></i>
        <h5>TRAINING PLAN</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis.</p>
      </div>
      <div class="resonToChoose-Item">
        <i class="fa-solid fa-handshake-angle  fa-2xl my-5"></i>
        <h5>UNIQUE TO YOUR NEEDS</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nihil perspiciatis.</p>
      </div>
    </div>
  </div>


  <div class="ourClasses ">
    <div class="ourClasses-lines my-3">
      <div class=" ourClasses-firstLine">
        <h3>OUR CLASSES</h3>
    </div>
    <div class=" ourClasses-secondLine my-3">
        <h2>WHAT WE CAN OFFER</h2>
    </div>
    </div>
  
  <div class="ouClasses-cards">
    <div class="card border-0 my-3" style="width: 20rem;">
      <img src="/img/home2.jpg" class="card-img-top" alt="...">
      <div class="card-body bg-black">
        <span class="card-desc-1">STRENGTH</span> <br>  
        <span class="card-desc-2">WEIGHTLIFTING</span>
      </div>
    </div>
    <div class="card border-0 my-3" style="width: 20rem;">
      <img src="/img/home3.jpg" class="card-img-top" alt="...">
      <div class="card-body bg-black">
        <span class="card-desc-1">CARDIO</span> <br>  
        <span class="card-desc-2">INDOOR EXERCISES</span>      </div>
    </div>
    <div class="card border-0 my-3" style="width: 20rem;">
      <img src="./img/jared-rice-NTyBbu66_SI-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body bg-black">
        <span class="card-desc-1">FLEXIBILITY</span> <br>  
        <span class="card-desc-2">YOGA</span>      </div>
    </div>
  </div>

  <div class="ouClasses-cards-2">
    <div class="card border-0 my-3" style="width: 20rem;">
      <img src="./img/gettyimages-485615212-1024x1024.jpg" class="card-img-top" alt="...">
      <div class="card-body bg-black">
        <span class="card-desc-1">FITNESS</span> <br>  
        <span class="card-desc-2">ZUMBA CLASSES</span>      </div>
    </div>
    <div class="card border-0 my-3" style="width: 20rem;">
      <img src="./img/ketbell.jpg" class="card-img-top" alt="...">
      <div class="card-body bg-black">
        <span class="card-desc-1">STRENGTH</span> <br>  
        <span class="card-desc-2">KETBELL POWER</span>
      </div>
    </div>
    <div class="card border-0 my-3" style="width: 20rem;">
      <img src="./img/pic/pic-5.jpg" class="card-img-top" alt="...">
      <div class="card-body bg-black">
        <span class="card-desc-1">STRENGTH</span> <br>  
        <span class="card-desc-2">Boxing</span>
      </div>
    </div>
  </div> 
  </div>

 

  <div class="appointment ">
    <div class="appoint-img">
      <img src="/img/home1.jpg" alt="REGISTER_NOW_AND_GET_EXCITING_DEALS" class="REGISTER_NOW_AND_GET_EXCITING_DEALS overflow-x-hidden" >
    </div>
    <div class="appoint-info container" >
      <div class="appoint-firstLine">
       <h2>REGISTER NOW AND GET EXCITING DEALS</h2> 
    </div>
    <div class=" appoint-secondline"> 
              <div class="col-sm">
                 <p id='my101' class="fs-2 text-light">0</p>
                 <p class="text-light">Total Members</p>
              </div>
              <div class="col-sm">
                 <p id='my102' class="fs-2 text-light">0</p>
                 <p class="text-light">Total Collaborators</p>
                </div>
    </div>
    </div>
  </div>
  <%- include('pricing',{loginStatus}); %>
  <%- include('footer'); %>

      <script>
      function animate(obj, initVal, lastVal, duration) {
         let startTime = null;
        let currentTime = Date.now();
        const step = (currentTime ) => {
       if (!startTime) {
         startTime = currentTime ;
      }
      const progress = Math.min((currentTime - startTime)/ duration, 1);
      obj.innerHTML = Math.floor(progress * (lastVal - initVal) + initVal);
      if (progress < 1) {
         window.requestAnimationFrame(step);
      } else {
            window.cancelAnimationFrame(window.requestAnimationFrame(step));
         }
      };
        window.requestAnimationFrame(step);
      }
      let text1 = document.getElementById('my101');
      let text2 = document.getElementById('my102');
      const load = () => { 
         animate(text1, 0, 1011, 7000);
         animate(text2, 0, 45, 7000);
      }
   </script> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8f8e3c7113.js" crossorigin="anonymous"></script>
  </body>
</html>