<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/1b34bcf330.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/ourTeam.css" media="screen" type="text/css">

<body>

<div class="ourteam">
        <div class="ourteam-firstline">
            OUR TEAM
        </div>
        <div class="ourteam-secondline">
            TRAIN WITH OUR EXPERTS
        </div> 


     




    <div class="productsSection">
        <div class="row row-cols-2 row-cols-md-4 g-3">

           <%trainers.forEach((item)=>{ %> 
            <div class="col">
                <div class="card h-auto bg-dark">
                    <div class="decs-container">
                        <img src=<%=item.image%>
                            class="card-img-top" alt="p1" id="p1">
                    </div>
                    <div class="card-foot" style="padding-left: 0%;padding-right: 0%;">
                        <h4 class="teamMateName"><%=item.name%></h4>
                        <p class="teamJOb">Gym Trainer</p>
                        <!-- <div class="socialMediaIcon">
                            <img class="instagram-icon " src="https://img.icons8.com/metro/16/ffffff/instagram-new.png"/>
                            <img class="facebook-icon " src="https://img.icons8.com/metro/16/ffffff/facebook-new.png"/>
                            <img class="twitter-icon " src="https://img.icons8.com/officel/16/ffffff/twitter.png"//>
                        </div> -->
                    </div>
                </div>
            </div>
           <% })  %> 
            
            
        </div>
    </div>
</div>

    <script src="../JavaScript files/ourTeam.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1b34bcf330.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>