<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./CSS/pricing.css">
        <!-- <link rel="stylesheet" href="./CSS/payment1.css"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Rajdhani&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
            rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
        <title> Premium | Fit Well</title>
    </head>
    <style>
        /* Scroll Effect */
        .hidden {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
        filter: blur(5px);
        }
        .show {
        opacity: 1;
        transform: translateX(0px);
        filter: blur(0);
        }

        @media (prefers-reduced-motion) {
        .hidden {
            transition:none;
        }
        } 
    </style>
    <body>
        <div class="container1 my-4">
            <div class="title container my-3">
                <h3 id="title-0" class="my-3 ">OUR PLAN</h3>
                <h2 id="title-1" class="my-2"> CHOOSE YOUR PRICING PLAN</h2>
            </div>
            
            <div class="price-row">
                <div class="price-col">
                    <p>SINGLE CLASS</p>
                    <h2 id="title">Class <br> Drop-in</h2>
                    <h3 id="pri"> ₹ 4200 </h3>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <form action="">
                      <input type="text" value="">
                     <button type="submit" id="enroll1"> ENROLL NOW</button>
                    </form>
                </div>

                <div class="price-col">
                    <p> ADVANCED </p>
                    <h2 id="title">6 Month unlimited</h2>
                    <h3 id="pri">₹ 5770 </h3>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <button id="enroll2"> ENROLL NOW</button>
                </div>
                <div class="price-col">
                    <P>PREMIUM</P>
                    <h2 id="title">12 Month unlimited</h2>
                    <h3 id="pri">₹ 8400</h3>
                    <ul>
                        <li>Free riding</li>
                        <li>Unlimited equipments</li>
                        <li>Personal trainer</li>
                        <li>Weight losing classes</li>
                        <li>No time restriction</li>
                    </ul>
                    <button id="enroll3"> ENROLL NOW</button>
                </div>
            </div>

            <script>
                 window.addEventListener('scroll', reveal);

                function reveal() {
                    var reveals = document.querySelectorAll('.hidden');

                    for (var i = 0; i < reveals.length; i++) {
                        var windowHeight = window.innerHeight;
                        var revealTop = reveals[i].getBoundingClientRect().top;
                        var revealPoint = 150;

                        if (revealTop < windowHeight - revealPoint) {
                            reveals[i].classList.add('show');
                }
                }
                };

            
            </script>
        </body>
    </html>