<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FIT-WELL | Services</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./CSS/services.css">
  </head>

  <body>

    <%- include('navbar',{loginStatus}); %>
    <div class="topbg"> 
      <img src="/img/home4.jpg" alt="" srcset="">
      <div class="toptitle">
          SERVICES
      </div>
   </div>
 
    <h2 id="se1">WHAT WE DO ?</h2>
    <h2 id="title">PUSH YOUR LIMITS FORWARD</h2>

    <section class="services">
      <div class="service">
        <img src="/img/services/service-1.jpg" />
        <h4 id="se2">BODY BUILDING</h4>
        <br />
        <br /><br />
        <p>
          "Welcome to our gym, where we help you build your dream body. Our
          expert trainers and state-of-the-art equipment will help you achieve
          your fitness goals. Join us today and become the best version of
          yourself!"
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-2.jpg" />
        <h4 id="se2">GROUP CLASSES</h4>
        <br /><br /><br />
        <p>
          We offer a wide variety of group classes, from high-intensity interval
          training to yoga and Pilates. Our experienced instructors are here to
          guide and motivate you every step of the way, helping you achieve your
          fitness goals in a fun and supportive environment. Come join us for a
          class today!
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-3.jpg" />
        <h4 id="se2">DIET PLAN</h4>
        <br /><br /><br />
        <p>
          We believe that fitness isn't just about exercise - it's also about
          proper nutrition. That's why we offer personalized diet plans to help
          you achieve your health goals. Contact us today to get started on your
          journey towards a healthier you!
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-4.jpg" />
        <h4 id="se2">SWIMMING</h4>
        <br /><br /><br />
        <p>
          Our swimming facilities offer a refreshing way to stay in shape and
          improve your overall health. Come take a dip in our pool and
          experience the benefits of swimming for yourself!"
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-5.jpg" />
        <h4 id="se2">YOGA</h4>
        <br />
        <br /><br />
        <p>
          We are proud to offer yoga classes for all levels, led by certified
          instructors who will guide you through each pose and help you improve
          your flexibility, strength, and mindfulness. Join us today and
          experience the many benefits of this ancient practice.
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-6.jpg" />
        <h4 id="se2">PERSONAL TRAINING</h4>
        <br />
        <br /><br />
        <p>
          We offer personalized training programs designed to help you achieve
          your fitness goals. Our certified trainers are dedicated to helping
          you succeed and will work with you every step of the way."
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-7.jpg" />
        <h4 id="se2">MOUNT CLIMBING</h4>
        <br />
        <br /><br />
        <p>
          We are proud to offer top-notch mount climbing services to help you
          reach new heights. With expert trainers, state-of-the-art equipment,
          and a supportive community, we are here to help you conquer any
          mountain."
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-8.jpg" />
        <h4 id="se2">BOXING</h4>
        <br />
        <br /><br />
        <p>
          We're proud to offer top-notch boxing training services to help you
          reach your fitness goals. Our experienced coaches are here to guide
          and support you every step of the way. Let's get ready to knock out
          those fitness goals together!"
        </p>
      </div>
      <div class="service">
        <img src="/img/services/service-9.jpg" />
        <h4 id="se2">STRENGTH TRAINING</h4>
        <br />
        <br /><br />
        <p>
          we're dedicated to helping you build strength and achieve your fitness
          goals. Our state-of-the-art equipment and knowledgeable trainers are
          here to guide you every step of the way on your journey to a stronger,
          healthier you."
        </p>
      </div>
    </section>


<%- include('footer') %>

  
    <script
      src="https://kit.fontawesome.com/8f8e3c7113.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
