<style>
    .timerBtnClass {
        background-color: orange;
        font-size: larger;
        border: none;
        margin: 0 5px;
    }

    #timerValue {
        color: orangered;
    }

    .timer {
        display: flex;
        justify-content: space-between;
        width: 55%;
    }
    #startBtn {
        background-color: rgb(0, 248, 0);
    }
    #stopBtn {
        background-color: rgb(255, 0, 0);
    }
    .timerInputClass{
        border-radius: 5px;
        font-size: larger;
        width: 50px;
        text-align: center;
        padding: 0%;
        border: none;

    }
    .timerCustomizer{
        display: flex;
    }

    
</style>


<div class="timer">
    <div class="timerCustomizer">
        <button class="timerBtnClass" id="startBtn">Start</button>
        <button class="timerBtnClass" id="stopBtn">Stop</button>
        <button class="timerBtnClass" id="setBtn">Set Time</button>
        <input class="timerInputClass" id="inputMin" type="number" value="0" min="0" max="59">
        <h3>:</h3>
        <input class="timerInputClass" id="inputSec" type="number" value="0" min="0" max="59">
    </div>

    <h3 id="timerValue">Time Left - <span id="timer">0:00</span></h3>
</div>

<script>
    let intervalId;
    let timer = document.getElementById("timer");
    let startBtn = document.getElementById("startBtn");
    let stopBtn = document.getElementById("stopBtn");
    let inputMin = document.getElementById("inputMin");
    let inputSec = document.getElementById("inputSec");
    let setBtn = document.getElementById("setBtn");
    let min = 0;
    let sec = 0;

    function startTimer() {
        intervalId = setInterval(updateTimer, 1000);
        startBtn.disabled = true;
        stopBtn.disabled = false;
    }

    function stopTimer() {
        clearInterval(intervalId);
        startBtn.disabled = false;
        stopBtn.disabled = true;
    }

    function updateTimer() {
        sec--;
        if (sec < 0) {
            sec = 59;
            min--;
        }
        if (min < 0) {
            clearInterval(intervalId);
            startBtn.disabled = false;
            stopBtn.disabled = true;
            min = 0;
            sec = 0;

        }
        timer.innerText = `${min}:${sec.toString().padStart(2, "0")}`;
        if (min === 0 && sec === 0) {
            timer.innerText = "Times Up!";
        }
    }

    function setTimer() {
        min = parseInt(inputMin.value);
        sec = parseInt(inputSec.value);
        timer.innerText = `${min}:${sec.toString().padStart(2, "0")}`;
    }

    startBtn.addEventListener("click", startTimer);
    stopBtn.addEventListener("click", stopTimer);
    setBtn.addEventListener("click", setTimer);

</script>