<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>a</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" />
  <link rel="stylesheet" href="./CSS/user_Dashboard.css" />
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="dashboard">
    <%- include('user_dashboard_navbar.ejs'); %>
    <div class="dashboard-app">
      <header class="dashboard-toolbar">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        <a href="#" class="menu-toggle">
          <i class="fas fa-right-from-bracket"></i>
          Logout
        </a>
      </header>
      <!-- User's Payment  -->
      <div class="dashboard-content" id="dashboard-review-page">
        <div class="container">
          <div class="container-review">
            <h1>Payment Page</h1>  
        </div>
      </div>
    </div>
  </div> 
  <!-- partial -->
  <script src="https://kit.fontawesome.com/1b34bcf330.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="./JS/user_Dashboard.js"></script>
</body>

</html>