<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Fitwell - User Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" />
  <link rel="stylesheet" href="./CSS/user_Dashboard.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  

</head>

<style>
  body {
    /* background: rgb(99, 39, 120) */
}

.form-control w-100:focus {
    box-shadow: none;
    /* border-color: #BA68C8 */
}

.profile-button {
    /* background: rgb(99, 39, 120); */
    box-shadow: none;
    border: none
}

.profile-button:hover {
    /* background: #682773 */
}

.profile-button:focus {
    /* background: #682773; */
    box-shadow: none
}

.profile-button:active {
    /* background: #682773; */
    box-shadow: none
}

.back:hover {
    /* color: #682773; */
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    /* background: #BA68C8; */
    color: #fff;
    cursor: pointer;
    /* border: solid 1px #BA68C8 */
}
span{
  font-size: 25px;
}
</style>


<body>
  <!-- partial:index.partial.html -->
  <div class="dashboard">
    <%- include('user_dashboard_navbar.ejs'); %>

      <div class="dashboard-app">
        <header class="dashboard-toolbar">
          <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
          <a href="/userlogout" class="menu-toggle">
            <i class="fas fa-right-from-bracket"></i>
            Logout
          </a>
        </header>

        <!-- User's Payment  -->
        <div class="dashboard-content" id="dashboard-review-page">
          <div class="container">



            <!-- EDIT HERE FOR PROFILE USER -->



            <div class="container-review">
              <h1>Profile Page</h1>

              <div class="container rounded bg-white mt-5">
                <div class="d-flex flex-column justify-content-center align-items-center p-3 py-5">
                  <img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg">
                </div>
              </div>

              <div class="col-md-8">
                <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                    </div>
                    <h6 class="text-right">Edit Profile</h6>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="First Name" value="John">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Last Name" value="Doe">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Email" value="john_doe12@bbb.com">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Phone Number" value="+19685969668">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Address"
                        value="D-113, Right Avenue Block, CA, USA">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Country" value="USA">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Bank Name" value="Bank of America">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Account Number" value="043958409584095">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Height" value="6'2''">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Weight" value="180 lbs">
                    </div>
                </div>
             
            </div>
        </div>
        </div>
        </div>


            



          
       </div>
    </div> 
  <!-- partial -->
  <script src="https://kit.fontawesome.com/1b34bcf330.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="./JS/user_Dashboard.js"></script>
</body>

</html>