<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbox</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./CSS/user_Dashboard.css" />

</head>

<body>

 

    <div class ="chatbox-container">
        <div class="msg-header">
            <div class="msg-header-img">
                <a href="./user_Dashboard_home" class="chat-back-button">
                    <i class="fas fa-2x fa-arrow-circle-left"></i>
                </a>
                <img class="chatbox-img" src="./img/trainers/team-1.jpg">
                <div class="chatbox-active">
                    <h4>FitWell Centre</h4>
                    <h6>2 hours ago...</h6>
                </div>
            </div>
        
        </div>

<div class="chat-page">
<div class="msg-inbox">
  <div class="chats">
    <div class="msg-page">
                      
        <div class="received-chats">
        <div class="received-chats-img">
        <img class="chatbox-img" src="./img/trainers/team-2.jpg">
        </div> 
         <div class="received-msg">
        <div class="received-msg-inbox">
        <p> Hi! This is message from John Lewis</p>
        <span class="time">11:32 pm | March 22</span>
        </div>
        </div>
        </div>

        <div class="outgoing-chats">
             <div class="outgoing-msg">
            <div class="outgoing-msg-inbox">
            <p> Hi! This is message from me</p>
            <span class="time">11:45 pm | March 22</span>
            </div>
            </div>
            <div class="outgoing-chats-img">
                <img class="chatbox-img" src="./img/trainers/team-3.jpg">
                </div> 
            </div>

            <div class="received-chats">
                <div class="received-chats-img">
                <img class="chatbox-img" src="./img/trainers/team-2.jpg">
                </div> 
                 <div class="received-msg">
                <div class="received-msg-inbox">
                <p> How can I help you</p>
                <span class="time">12:02 pm | March 22</span>
                </div>
                </div>
                </div>
    
                <div class="outgoing-chats">
                     <div class="outgoing-msg">
                    <div class="outgoing-msg-inbox">
                    <p> can you suggest me some morning stretches</p>
                    <span class="time">12:05 pm | March 22</span>
                    </div>
                    </div>
                    <div class="outgoing-chats-img">
                        <img class="chatbox-img" src="./img/trainers/team-3.jpg">
                        </div> 
                    </div>

                    <div class="received-chats">
                        <div class="received-chats-img">
                        <img class="chatbox-img" src="./img/trainers/team-2.jpg">
                        </div> 
                         <div class="received-msg">
                        <div class="received-msg-inbox">
                        <p> Yes ofcourse!! I'll share you a pdf and videos for reference. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, adipisci. Voluptatibus alias dolor libero fugiat, quibusdam ducimus at aperiam sapiente.</p>
                        <span class="time">12:09 pm | March 22</span>
                        </div>
                        </div>
                        </div>
    </div>
    </div>
    </div>

    <div class="msg-bottom">
        <div class="bottom-icons">
            <i class="fa fa-plus-circle"></i>
            <i class="fa fa-camera"></i>
            <i class="fa fa-microphone"></i>
            <i class="fa fa-smile-o"></i>

        </div>

      


        <div class="input-group">
            <input type="text" class="form-control" placeholder="write message...">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-paper-plane"></i>
                </span>
            </div>
        </div> 
    </div>
    </div>
    </div>


</body>
</html>