<!-- User dashboard navbar -->

<div class="dashboard-nav">
    <div class="top">
        <header>
            <a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a>
            <div class="brand-logo-img">
                <a href="./user_Dashboard_home" class="brand-logo">
                    <img src="./img/Logo/logo1.png" alt="logo" class="logo-img">
                </a>
            </div>
        </header>
        <nav class="dashboard-nav-list">
            <a href="./user_Dashboard_home" class="dashboard-nav-item">
                <i class="fas fa-home"></i>
                Home
            </a>
            <a href="./user_dashboard_workout" class="dashboard-nav-item">
                <i class="fas fa-dumbbell"></i>
                Home WorkOut
            </a>
            <a href="./user_Dashboard_challenges" class="dashboard-nav-item">
                <i class="fas fa-running"></i>
                Challenges
            </a>
            <a href="./user_Dashboard_profile" class="dashboard-nav-item">
                <i class="fas fa-user"></i>
                Profile
            </a>
            <a href="./user_Dashboard_reviews" class="dashboard-nav-item">
                <i class="fas fa-comment"></i> 
                Put a Review
            </a>

            <a href="./user_Dashboard_cart" class="dashboard-nav-item">
                <i class="fas fa-shopping-cart"></i>
                Cart
            </a>
            <a href="./user_Dashboard_payment" class="dashboard-nav-item">
                <i class="fas fa-money-check-alt"></i>
                Payment
            </a>
            <a href="./user_dashboard_myorders" class="dashboard-nav-item">
                <i class="fas fa-bag-shopping"></i>
                Your Orders
            </a>

        </nav>
    </div>

</div>