<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>a</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" />
  <link rel="stylesheet" href="./CSS/user_Dashboard.css" />
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="dashboard">
    <div class="dashboard-nav">
      <div class="top">
        <header>
          <a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a>
          <div class="brand-logo-img">
            <a href="./user_Dashboard_home" class="brand-logo">
              <img src="./img/Logo/logo1.png" alt="logo" class="logo-img">
            </a>
          </div>
        </header>
        <nav class="dashboard-nav-list">
          <a href="./user_Dashboard_home" class="dashboard-nav-item active">
            <i class="fas fa-home"></i>
            Home
          </a>
          <a href="#" class="dashboard-nav-item active">
            <i class="fas fa-dumbbell"></i>
            Home WorkOut
          </a>

          <div class="dashboard-nav-dropdown">
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
              <i class="fas fa-users"></i>
              User
            </a>
            <div class="dashboard-nav-dropdown-menu">
              <a href="./user_Dashboard_profile" class="dashboard-nav-dropdown-item">
                <i class="fas fa-user"></i>
                Profile
              </a>
              <a href="./user_Dashboard_reviews" class="dashboard-nav-dropdown-item">
                <i class="fas fa-comment"></i>
                Put a Review
              </a>
            </div>
          </div>
          <div class="dashboard-nav-dropdown">
            <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
              <i class="fas fa-tags"></i>
              Shopping
            </a>
            <div class="dashboard-nav-dropdown-menu">
              <a href="./user_Dashboard_cart" class="dashboard-nav-dropdown-item">
                <i class="fas fa-shopping-cart"></i>
                Cart
              </a>
              <a href="./user_Dashboard_payment" class="dashboard-nav-dropdown-item">
                <i class="fas fa-money-check-alt"></i>
                Payment
              </a>
              <a href="./user_dashboard_myorders" class="dashboard-nav-dropdown-item">
                <i class="fas fa-bag-shopping"></i>
                Your Orders
              </a>
            </div>
          </div>
      </div>

      <!-- <div class="bottom">
        <div class="nav-item-divider"></div>
        <a href="#" class="dashboard-nav-item">
          <i class="fas fa-right-from-bracket"></i>
          Logout
        </a>
      </div> -->

      </nav>
    </div>




    <div class="dashboard-app">
      <header class="dashboard-toolbar">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        <a href="#" class="menu-toggle">
          <i class="fas fa-right-from-bracket"></i>
          Logout
        </a>
      </header>

      <!-- Home Content div container -->

      <div class="dashboard-content active" id="dashboard-home-page">
        <div class="container">
          <div class="container-profile-bmi">

            <div class="profile">
              <img src="./img/trainers/team-5.jpg" alt="user-avatar" class="user-avtar" height="150" width=150px"
                id="uploadedAvatar" />
              <div class="content-header">
                <h2>Hello !</h2>
                <h1>User</h1>
              </div>
            </div>

            <div class="bmi-calculator">

              <div class="bmi-output">
                <div id="bmi-result">
                  <h3 id="bmi-value"><i class="fas fa-2x fa-smile"></i></h3>
                  <h3 class="bmi-comment"></h3>
                </div>
                <button type="button" onclick="calculateBMI()">Check You BMI</button>
              </div>
              <div class="personal-info">

                <h2>Height : <span id="bmi-height">182</span> cm</h2>
                <h2>Weight : <span id="bmi-weight">57</span> kg</h2>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  <!-- partial -->
  <script src="https://kit.fontawesome.com/1b34bcf330.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="./JS/user_Dashboard.js"></script>
</body>

</html>