
/*  Admin dashboard  ------->   */


.past-order-heading {
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#card-user-order{
  border-radius: 10PX ;
  /* border: 1px solid #d63d00; */
  background-color: rgb(40, 39, 39);
  background-image: linear-gradient(rgb(43, 30, 9),rgb(40, 39, 39));
  margin-bottom: 15px;
  color: white;
}

.past-order-product-name{
  color: #d33f05;
  font-weight: 600;
}

.card-body {
  display: flex;
  max-height: 250px;
}
#past-order-item-img {
  height: 100%;
  width: auto;
  margin: 0%;
  padding: 0%;
  border-radius: 10PX;
  border: 2px solid #d63d00;
}


@media (max-width:992px) {
  #past-order-item-img {
    height: 150px;
    width:  150px;

  }
}
@media (max-width:600px) {
  
  .card-body {
    height: auto;
    flex-direction: column;
    max-height:fit-content;

  }
  #past-order-item-img {
    height: 200px;
    width: auto;

  }
  .card-footer{
    font-size: 20px;
    flex-direction: column;
  }
  .card-footer a{
    margin: 5px 10%;
    width: 130px;
    vertical-align: middle;
    align-self: center;

  }
}

@media (max-width:345px) {
  .card-footer h5{
    font-size: medium;
    align-self: center;
    font-weight: 550;

  }
}
