.recent-payment-conrainer {
  margin: 10px 10px;
}

.recent-5-Payments h3{
  font-weight: bolder;
}
.recent-order-conrainer {
  margin: 10px 10px;
}

.recent-5-orders h3{
  font-weight: bolder;
}

.addNewProductForm {
  display: flex;
  flex-direction: column;
}