.cart-container {
  font-family: 'Poppins', sans-serif;
  border-style: hidden;
  font-weight: 20px;
  display: inline-block;
  width: 100%;
}

table {
  width: 90%;
  border: 2px solid rgb(117, 31, 0);
}
img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 5px;
}
.parent-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.container {
  display: flex;
  flex-direction: column;
}

td {
  /* padding: 10px 5px; */
  margin-top: 5px;
  align-content: center;
}
td input {
  width: 50px;
  height: 30px;
  padding: 5px;
  border-color: rgb(207, 198, 195);
  text-align: center;
}

td a {
  color: #ff523b;
  font-size: 1rem;
}
h2 {
  margin-left: 170px;
  color: rgb(52, 52, 49);
  margin-top: 40px;
}


a {
  margin-top: 5 0px;
  text-decoration: none;
}
.total-price {
  margin: 0 20px;
  width: 40%;
  
}

.total-price td {
  margin: 20px;
}
td:last-child {
  text-align: center;
}
th:last-child {
  text-align: center;
}
#checkbut {
  width: 100%;
  height: 100%;
  size: 50px;
  color: white;
  background-color: rgb(255, 123, 0);
  cursor: pointer;
  text-align: center;
  position: relative;
  border-color: #fff;
  /* filter: drop-shadow(10px 10px 10px rgb(172, 172, 157)); */

  margin-left: 30%;
  /* align-self: center; */
}
#checkbut:hover {
  background-color: rgb(233, 245, 237);
  color: black;
}

.parent-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .parent-container {
    flex-direction: column-reverse;
  }

  .total-price {
    width: fit-content;
    margin: auto;
  }

  .total-price table {
    width: 80vw;
  }
}


.moadl-body {
    background-color: aliceblue;
    color: aliceblue;
}
th {
  text-align: center;
  /* padding: 20px; */
  color: aliceblue;
  background-color: rgb(228, 98, 51);
  font-weight: normal;
}