*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    
}


#carousel{
    background-color: black;   
}
.sliderContainer img{
    height: 100vh;
    width: 100vw;
}
#infobutton{
    /* height: 200px; */
    position: absolute;
    top: 87%;
    left: 50%; 
}
#infobutton button{
    color: white;
    font-weight: bold;
    background-color:#f36100;
    padding: 10px 10px;
    height: 60px;
    border: none;
}
#frontinfo{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 63%;
}
.firstline{
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch:ultra-expanded;
}
.secondline{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: bolder;
}
#colorToOrange{
    color: #f36100;
}

.reasonToChoose{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 6%;
    padding-bottom: 6%;
}
.reasonToChoose-firstLine{
    color: #ea3209ef; 
    font-family: 'Mulish', sans-serif; 
}
.reasonToChoose-secondLine{
    font-family: 'Secular One', sans-serif;
}
.resonToChoose-reasonItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}
.resonToChoose-Item{
    width: 20rem;
    padding: 10px;
}
.resonToChoose-Item h5{
    font-family: 'Secular One', sans-serif;
}
.resonToChoose-Item i{
    color:#ea3209ef;
}
.ourClasses{
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
    color: white;
    text-align: center;
}
.ouClasses-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ourClasses-firstLine{
    font-family: 'Mulish', sans-serif;
    font-stretch: extra-expanded;
    color: #f36100;
} 
.ourClasses-secondLine{
    font-family: 'Secular One', sans-serif;
}
.REGISTER_NOW_AND_GET_EXCITING_DEALS{
    width:fit-content;
    height: auto;
    overflow-x: hidden;
}
.card-desc-1{
    color: #f36100;
    font-family: 'Mulish', sans-serif;
}
.card-desc-2{
    font-family: 'Secular One', sans-serif;
}
.ouClasses-cards-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.appointment{
    background-color: black;
    padding-bottom: 5em ;
    position: relative;
}
.appoint-img img{
    width: 100%;
    height: 70vh;
    opacity: 0.9;
}
.appoint-info{
   position: absolute;
   color: white;
   top: 35%; 
   left: 10%;
   box-sizing: border-box;
   text-align: center;
   /* margin: auto; */
}
.appoint-firstLine h2{
    font-family: 'Secular One', sans-serif;
    font-size: 40px; 
    font-weight: 700;
}
.appoint-secondline{
    font-family: 'Secular One', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}
.infohome a{
    text-decoration: none;
    color: white;
}
/* Scroll Effect */
.hidden {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
    filter: blur(5px);
  }
  .show {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0);
  }
  
  @media (prefers-reduced-motion) {
    .hidden {
      transition:none;
    }
  }

@media screen and  (max-width: 900px) {
    .container-fluid{
        height: 9vw;
    }
    .sliderContainer img{
        height: 100vh;
        width: 100vw;
    }
    #frontinfo{
        top: 50%;
        left: 58%;
    }
    .firstline{
        font-size: 25px;
    }
    .secondline{
        font-size: 55px;
    }
}
@media screen and  (max-width: 680px) {
    .container-fluid{
        height: 10vw;
    }
    .sliderContainer img{
        height: 100vh;
        width: 100vw;
    }
    #frontinfo{
        top: 45%;
        left: 50%;
    }
    .firstline{
        font-size: 22px;
    }
    .secondline{
        font-size: 47px;
    }
    .appoint-info{
        top: 30%;
        left: 5%;
    }
    .appoint-firstLine h2{
        font-size: 40px;
    }
}
@media screen and  (max-width: 520px) {
    #frontinfo{
        top: 45%;
        left: 47%;
    }
    .firstline{
        font-size: 20px;
    }
    .secondline{
        font-size: 43px;
    }
}
@media screen and  (max-width: 400px) {
    .container-fluid{
        height: 12vw;
    }
    .sliderContainer img{
        height: 100vh;
        width: 100vw;
    }
    .firstline{
        font-size: 18px;
    }
    .secondline{
        font-size: 40px;
    }
    #infobutton button{
        height: 40px;
    }
}
