
*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
body{
    background-color: black;
}
.navbar1{
    padding  : 0;
    font-weight: bold; 
   
}
 .nav-item1 a{
    color: white;
    
}
.container-fluid1{
    background-color: black;
    height: 5vw;
    opacity: 0.6;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
 }
 
 .container-fluid1:hover{
     opacity: 0.8;
 }
 .navbarlogo img{
     opacity: 1;
     height: 5rem;
     width: auto;
 }
 .nav-item1 a{
     transition: 0.5s;
     font-family: 'Alkatra', cursive;
     /* font-size: 24px; */
 }
 .nav-item1 a:hover{
     color: #f36100;
     /* transform: rotateY(180deg); */
     text-decoration-line: line-through;
     scale: 1.1;
 }
 /* .navbarlogo img{
    height: 70px;
 } */


 .btn {
    color: rgb(255, 255, 255);
    font-family: 'Alkatra', cursive;
}
.btn:hover {
    color: #f36100;
}
