*{
    padding: 0;
    margin: 0;
    background: rgba(11, 10, 10, 0.2);
    color: rgb(26, 25, 25);
    font-family: 'Noto Sans', sans-serif;
  
}


.table{
    padding: 3rem;
border-radius: 6px;
    border: 5px;
    background-color:black ;
    cursor: pointer ;
}
.ded{
    color: rgb(168, 29, 29);
}
.add{
    color: rgb(23, 81, 23);
}

.pay{
    color: rgb(31, 95, 31);
}
.upay{
    color: red;
}