*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;  
}
.container1{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 29, 29);
}

.container1 h2, h3{
    color: #fff;
    font-size: 32px;
    text-align: center;
}
.price-row{
   width: 80%;
   max-width: 1000px;
   margin-bottom: 10px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit , minmax(250px ,1fr));
   grid-gap: 30px;
}
.price-col {
    font-size: 20px;
    background:#373737;
    padding: 5% 10%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.price-col:hover{
    background: rgb(75, 71, 71);
}
.price-col p{
    font-size: 22px;
}
.price-col h3{
    font-size: 44px;
    margin: 5px 0 44px ;
    font-weight: 500;
}
#title-1{
    color: coral;
    font-weight:60px;
    font-family: 'Tilt Warp', cursive;
}
#title{
    color: coral;
    font-weight:60px;
    
}
.price-col ul{
    text-align: left;
    margin: 15px 0;
    color: #ddd;
   list-style: none;

}
.price-col ul li{
    margin: 10px 0;
}
.price-col ul li::before{
    content: '\2022';
    color: coral;
    font-weight: bold;
    margin-right: 8px;
}
.price-col button{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    color: #fff;
    font-size: 21px;
    border: 1px solid coral;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
}
.price-col button:hover{
    background: coral;
}
/* #pri{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Rajdhani' , sans-serif;
} */
/* #title-0{

    color: #fff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 4px;
    margin-top: ;
} */
