@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box}

body{
  width: 100%;
  height: 640px;
  margin: 0;
  /* background-color: #fd5d00; */
  color: #ffffff;
  font-family: Tahoma;
  font-size: 16px;


  height:100%;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(66, 29, 14);
}
button[type='submit'] {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: auto;
  font-size: 1.1rem;
  background-color: #ff7300;
  border-color: rgb(30, 173, 42);
  min-width: 300px;
}

h1,
p {
  margin: 10px 0px;
  text-align: center;
  margin-bottom: 0%;
}
h1 {
  color: wheat;
  margin-top: 50px;
}
span {
  font-size: 12px;
  color: red;
  /* display: none; */
}
.logemailver {
  display: none;
}

.regemailver {
  display: none;
}
.regpassver {
  display: none;
}
.regagever {
  display: none;
}
label {
  font-weight: 600;
  font-size: larger;
}

form {
  overflow-y: auto;
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}


.sign-up-container {
  overflow-y: auto;
  width: 50vw;
  top: 35%;
  max-width: 550px;
  min-width: 400px;
  margin: 20px auto;
  border: 5px solid rgb(255, 153, 0);
  border-radius: 10px;
  background-color: #ffffff;
}

.sign-in-container {
  overflow-y: auto;
  width: 50vw;
  height: 400px;
  max-width: 550px;
  min-width: 400px;
  margin: 50px auto;
  border: 5px solid rgb(255, 153, 0);
  border-radius: 10px;
  background-color: #ffffff;
  vertical-align: middle;
}
.logcheck {
  color: red;
}

fieldset {
  border: none;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 95%;
  font-size: medium;
  border-radius: 5px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#image {
  border: 1px solid black;
}

button {
  border-radius: 10px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
}

button:active {
  transform: scale(0.95);
}

.nevigate-to-signin-up {
  width: 100%;
  margin-left: 25%;
}

.container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 275px;
        transform-origin: -275px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#000000;}
  &:after{transform:rotate(135deg);background:#ff6f00;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#ff6f00;}
  &:after{transform:rotate(-135deg);background:#000000;}
}

.center{
  position:absolute;
  z-index: 100;
  /* top:50%; */
  left:45%;
  margin-left:-198px;
  margin-top:-200px;

  opacity:0;
  transition-delay:0s;
  color:#fbeaea;
  background-color: #ffffff;
  
  input{
    border-radius:1px;
    border:1px solid #ffffff;
    font-family:inherit;
  }
}


