*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

.navbar{
    padding  : 0;
    font-weight: bold;
}
.navbar-collapse ul a{
    color: rgb(223, 212, 212)
    
}
#carousel{
    background-color: black;
    
}
.container-fluid{
   background-color: black;
   height: 5vw;
   opacity: 0.5;
}

.container-fluid:hover{
    opacity: 0.8;
}

.sliderContainer img{
    height: 100vh;
    width: 100vw;
}
#infobutton{
    /* height: 200px; */
    position: absolute;
    top: 87%;
    left: 42%; 
}
#infobutton button{
    color: white;
    font-weight: bold;
    background-color:#f36100;
    padding: 10px 10px;
    height: 60px;
    border: none;
}
#frontinfo{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 63%;
}
.firstline{
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch:ultra-expanded;
}
.secondline{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: bolder;
}
#colorToOrange{
    color: #f36100;
}

@media screen and  (max-width: 900px) {
    .container-fluid{
        height: 9vw;
    }
    .sliderContainer img{
        height: 100vh;
        width: 100vw;
    }
    #frontinfo{
        top: 50%;
        left: 58%;
    }
    .firstline{
        font-size: 25px;
    }
    .secondline{
        font-size: 55px;
    }
}
@media screen and  (max-width: 680px) {
    .container-fluid{
        height: 10vw;
    }
    .sliderContainer img{
        height: 100vh;
        width: 100vw;
    }
    #frontinfo{
        top: 45%;
        left: 50%;
    }
    .firstline{
        font-size: 22px;
    }
    .secondline{
        font-size: 47px;
    }
    
}
@media screen and  (max-width: 520px) {
    #frontinfo{
        top: 45%;
        left: 47%;
    }
    .firstline{
        font-size: 20px;
    }
    .secondline{
        font-size: 43px;
    }
}
@media screen and  (max-width: 400px) {
    .container-fluid{
        height: 12vw;
    }
    .sliderContainer img{
        height: 100vh;
        width: 100vw;
    }
    .firstline{
        font-size: 18px;
    }
    .secondline{
        font-size: 40px;
    }
    #infobutton button{
        height: 40px;
    }
}
